################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project_Starting_Point/.vs/Project_Starting_Point/v17/Browse.VC.opendb
